<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/gps_reminders_icon_launcher_bell"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gps_reminders_icon_launcher_bell_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFG_GpsReminders">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AddTaskActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.TaskDetailActivity" />
        <activity android:name=".ui.SelectLocationActivity" />

        <receiver
            android:name=".geofencing.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".notifications.TaskNotificationActionReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".geofencing.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>